body {
    background-color: bisque;
}

.divt {
    width: 80px;
    height: 40px;
    background-color: white;
    line-height: 40px;
    text-align: center;
    margin: 20px;
    border-radius: 8px;
}

a {
    color: black;
    text-decoration: none;
}

.divt:active {
    scale: 0.9;
}

.div1 {
    width: 400px;
    height: 500px;
    background-color: cadetblue;
    margin: 80px 550px;
    border-radius: 15px;
    position: relative;
}

.divp{
    text-align: center;
    margin-top: 270px;
}
p{
    margin: 0;
}

h1 {
    position: absolute;
    padding: 10px;
    font-size: 50px;
    top: 40px;
    left: 40px;
}

.p1 {
    position: absolute;
    font-size: 30px;
    top: 110px;
    left: 30px;
}


.input1 {
    position: absolute;
    top: 160px;
    left: 30px;
    width: 340px;
    height: 30px;
    border-radius: 6px;
}

.btn {
    position: absolute;
    top: 210px;
    left: 140px;
    font-size: 40px;

    background-color: white;
}

.perror {
    text-align: center;
    color: red;
    padding-top: 15px;
    font-size: 20px;
}

.pok {
    text-align: center;
    color: black;
    padding-top: 15px;
    font-size: 20px;
}